/*-- scss:defaults --*/



/*-- scss:rules --*/

.reveal .custom-title {
  position: absolute;
  font-size: 3.5em;
  text-align: left;
  left: 1000px;
  top: -10px;
  line-height: 1em;
}

.reveal .custom-author {
  position: absolute;
  font-size: 1.5em;
  text-align: left;
  left: 1000px;
  top: 450px;
}

.reveal .custom-position {
  position: absolute;
  font-size: 1.0em;
  text-align: left;
  left: 1000px;
  top: 550px;
}

.reveal .custom-url-nhprr {
  position: absolute;
  font-size: 0.8em;
  text-align: left;
  left: 1000px;
  top: 650px;
}

.reveal .custom-url-umms {
  position: absolute;
  font-size: 0.8em;
  text-align: left;
  left: 1000px;
  top: 700px;
}

.reveal .title-date {
  position: absolute;
  font-size: 0.8em;
  text-align: left;
  left: 1000px;
  top: 750px;
}
